@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}


/* Default styles */
.container {
  max-width: 100%;
  margin: 0 auto;
  padding: 1rem;
}

.text-lg {
  font-size: 1.125rem; /* Adjust font size */
}

/* Responsive styles */
@media (min-width: 768px) {
  .container {
      padding: 2rem;
  }

  .text-lg {
      font-size: 1.25rem; /* Adjust font size for medium screens */
  }
}

@media (min-width: 1024px) {
  .container {
      max-width: 960px;
  }

  .text-lg {
      font-size: 1.5rem; /* Adjust font size for large screens */
  }
}
